<template>
  <div class="container">
    <notifications group="notify" />
    <header v-if="isUserAuthenticated" class="d-flex justify-content-end">
      <router-link :to="{name:'logout'}"> Выход </router-link>
    </header>
      <div class="row pt-5">
          <div class="col-md-12">
              <section>
                    <router-view name="main" />
            </section>
          </div>
      </div>
    </div>
</template>


<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
		...mapGetters({
			isUserAuthenticated: 'auth/isUserAuthenticated',
		})
	},
}
</script>