.d-flex{
    display: flex;
}

.row{
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap:16px;
}

.col-md-6{
    grid-column: span 6;
}
.col-md-8{
    grid-column: span 8;
}
.col-md-10{
    grid-column: span 10;
}
.col-md-7{
    grid-column: span 7;
}
.col-md-4{
    grid-column: span 4;
}
.col-md-5{
    grid-column: span 5;
}
.col-md-3{
    grid-column: span 3;
}
.col-md-2{
    grid-column: span 2;
}
.js-center{
    justify-content: center;
}
.js-end{
    justify-content: end;
}
.js-start{
    justify-content: start;
}
.bordered{
    border: 1px solid #000;
}
.h-half{
    height: 46%;
}
/*padding*/
.p-1{
    padding: 1rem;
}

/*margin*/
.m-1{
    margin: 2%;
}

.b-shadow{
    box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.2), 0 6px 20px 0 rgba(0,0, 0, 0.19);
}