<template>
    <div>
<div class="container" v-bind:class="{'right-panel-active':trigger}" id="container">
	<div class="form-container sign-up-container" v-if="trigger">
		<form action="#" v-on:submit.prevent="register">
			<h1>Регистрация</h1>
			<input type="text" placeholder="Имя" v-model="name" />
			<input type="email" placeholder="Email" v-model="email" />
			<input type="password" placeholder="Пароль" v-model="password" />
			<button>Регистрация</button>
		</form>
	</div>
	<div class="form-container sign-in-container" v-if="!trigger">
		<div class="form">
			<h1>Вход</h1>
			<input type="email" placeholder="Email" v-model="email" />
			<input type="password" placeholder="Пароль" v-model="password" />
			<a href="#">Забыли пароль?</a>
			<button @click.prevent="login">Вход</button>
		</div>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>У вас уже есть аккаунт?</h1>
				<p>Войдите в нее</p>
				<button class="ghost" id="signIn" @click="trigger = false">Вход</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Вы еще не зарегистрированы?</h1>
				<p>Пожалуйста зарегистрируйтесь</p>
				<button class="ghost" id="signUp" @click="trigger = true">Регистрация</button>
			</div>
		</div>
	</div>
</div>
    </div>
</template>


<script>
export default {
	data(){
		return{
			name:"",
			password:"",
			email:"",
			trigger: false,
		}
	},
	methods:{
		register(){
			this.$store.dispatch('auth/REGISTER', this)
		},
		login(){
			this.$store.dispatch('auth/LOGIN', this)
		}
	}
}
</script>