<template>
	<div>
		<div class="row d-flex justify-content-end">
            <p class="mr-5 mt-2">Профиль пользователья {{user.name}}</p>
			<div class="add">
				<button @click="show('modal')" class="btn btn-success">
                    <edit-icon size="1.5x" class="custom-class"/>
                    Изменить данные пользователья
                </button>
			</div>
            <div class="add">
				<button @click="show('todo')" class="btn btn-success">
                    <plus-icon size="1.5x" class="custom-class"/>
                    Добавить Todo
                </button>
			</div>
		</div>
		<modal name="modal" :clickToClose="false">
			<div class="row justify-content-center">
				<div class="col-md-10 mt-3">
					<input v-model="user.name" type="text" class="form-control mt-3" placeholder="Имя" required>
					<input v-model="user.email" type="email" class="form-control mt-3" placeholder="Email" required>
					<button @click="saveUser" class="btn btn-success mt-3 mr-3">Сохранить</button>
					<button @click="hide('modal')" class="btn btn-warning mt-3">Отменить</button>
				</div>
			</div>
		</modal>
        <modal name="todo" :clickToClose="false" height="170px">
			<div class="row justify-content-center">
				<div class="col-md-10 mt-4">
					<input v-model="title" type="text" class="form-control mt-3" placeholder="Название" required>
					<button @click="saveTodo" class="btn btn-success mt-3 mr-3">Сохранить</button>
					<button @click="hide('todo')" class="btn btn-warning mt-3">Отменить</button>
				</div>
			</div>
		</modal>
		<modal name="destroy-modal" :clickToClose="false" height="100px">
			<div class="row justify-content-center">
				<div class="col-md-10 mt-3">
					<button @click="destroy" class="btn btn-success mt-3 mr-3">Подтвердить</button>
					<button @click="cancleDestroy" class="btn btn-warning mt-3">Отменить</button>
				</div>
			</div>
		</modal>
		<table class="table">
			<thead class="thead-dark">
				<tr>
				<th scope="col">#</th>
				<th scope="col">Название</th>
				<th scope="col">Действие</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(todo,index) in todos" :key="index">
					<th scope="row">{{index+1}}</th>
					<td>{{todo.title}}</td>
					<td>
						<edit-icon @click="editTodo(todo)" size="1.5x" class="custom-class mr-3"></edit-icon>
						<delete-icon @click="allowDestroy(todo)" size="1.5x" class="custom-class"></delete-icon>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
import { PlusIcon, EditIcon, DeleteIcon } from 'vue-feather-icons'
import { mapGetters } from 'vuex';

export default {
	data() {
		return {
			user:{
				name:"",
				email:""
			},
            deleteTodo:null,
            userId:null,
            title:"",
            editTodoId: null
		}
	},

	components:{PlusIcon,EditIcon, DeleteIcon},

	computed: {
		...mapGetters({
			todos: 'todo/getUserTodos',
		})
	},

	methods:{
		load(page){
			if(page)
				this.page = page
			this.$store.dispatch('todo/GET_USER_TODOS', this)
		},

		show (modal) {
			this.$modal.show(modal);
		},

		hide (modal) {
            this.$modal.hide(modal)
            this.title = null
        },

		saveUser(){
			this.$store.dispatch('user/UPDATE_USER', this)
			this.$modal.hide('modal')
        },
        
        saveTodo(){
            if(this.editTodoId) this.$store.dispatch('todo/UPDATE_USER_TODO', this)
            else this.$store.dispatch('todo/CREATE_USER_TODO', this)
			this.$modal.hide('todo');
        },

		allowDestroy(todo){
			this.deleteTodo = todo
			this.$modal.show('destroy-modal')
		},

		destroy(){
			this.$store.dispatch('todo/DELETE_USER_TODO', this)
			this.$modal.hide('destroy-modal')
		},

		cancleDestroy(){
			this.deleteUser = null
			this.$modal.hide('destroy-modal')
        },
        
        editTodo(todo){
            this.title = todo.title
            this.editTodoId = todo.id
            this.$modal.show('todo')
        },

		clearModal(){
			this.user.name = this.user.email = this.user.password = null
		}
	},

	mounted(){
        this.userId = this.$route.params.userId
		this.load()		
	}
}
</script>

<style>
	.add{
		margin-bottom: 2rem;
		margin-right: 15px;
	}
</style>
