<template>
	<div>
		<div class="row d-flex justify-content-end">
			<div class="add">
				<button @click="show" class="btn btn-success"><plus-icon size="1.5x" class="custom-class"/>Добавить пользователья</button>
			</div>
		</div>
		<modal name="modal" :clickToClose="false">
			<div class="row justify-content-center">
				<div class="col-md-10 mt-3">
					<input v-model="user.name" type="text" class="form-control mt-3" placeholder="Имя" required>
					<input v-model="user.email" type="email" class="form-control mt-3" placeholder="Email" required>
					<input v-model="user.password" type="password" class="form-control mt-3" placeholder="Пароль" required>
					<button @click="save" class="btn btn-success mt-3 mr-3">Сохранить</button>
					<button @click="hide" class="btn btn-warning mt-3">Отменить</button>
				</div>
			</div>
		</modal>
		<modal name="destroy-modal" :clickToClose="false" height="100px">
			<div class="row justify-content-center">
				<div class="col-md-10 mt-3">
					<button @click="destroy" class="btn btn-success mt-3 mr-3">Подтвердить</button>
					<button @click="cancleDestroy" class="btn btn-warning mt-3">Отменить</button>
				</div>
			</div>
		</modal>
		<table class="table">
			<thead class="thead-dark">
				<tr>
				<th scope="col">#</th>
				<th scope="col">Имя</th>
				<th scope="col">Email</th>
				<th scope="col">Действие</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(user,index) in users" :key="index">
					<th scope="row">{{index+1}}</th>
					<td>{{user.name}}</td>
					<td>{{user.email}}</td>
					<td>
						<router-link :to="{name:'profile', params:{userId:user.id}}">
							<edit-icon size="1.5x" class="custom-class mr-3"/>
						</router-link>
						<delete-icon @click="allowDestroy(user)" size="1.5x" class="custom-class"></delete-icon>
					</td>
				</tr>
			</tbody>
		</table>
		<div v-if="pagination.last_page > 1" class="row justify-content-center">
			<nav aria-label="Page navigation example" class="pag">
				<ul class="pagination">
					<li class="page-item" :class="{'disabled':!pagination.prev_page_url}">
						<a class="page-link" @click="load(pagination.current_page-1)" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item" 
						v-for="(page, index) in pagination.total > 3 ? pagination.current_page+2:pagination.total "
						:key="index"
						:class="{'active':pagination.current_page===page}">
						<a class="page-link" @click="load(page)">{{page}}</a>
					</li>
					<li class="page-item" :class="{'disabled':!pagination.next_page_url}">
						<a class="page-link" @click="load(pagination.current_page+1)" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</template>

<script>
import { PlusIcon, EditIcon, DeleteIcon } from 'vue-feather-icons'
import { mapGetters } from 'vuex'

export default {
	data() {
		return {
			page:1,
			pagination:{},
			user:{
				name:"",
				email:"",
				password:""
			},
			deleteUser:null
		}
	},

	components:{PlusIcon, EditIcon, DeleteIcon},

	computed: {
		...mapGetters({
			users: 'user/getUsers',
		})
	},

	methods:{
		load(page){
			if(page)
				this.page = page
			this.$store.dispatch('user/GET_USERS', this)
		},

		show () {
			this.$modal.show('modal');
		},

		hide () {
			this.$modal.hide('modal');			
		},

		save(){
			this.$store.dispatch('user/CREATE_USER', this)
			this.$modal.hide('modal');
		},

		allowDestroy(user){
			this.deleteUser = user
			this.$modal.show('destroy-modal')
		},

		destroy(){
			this.$store.dispatch('user/DELETE_USER', this)
			this.$modal.hide('destroy-modal')
		},

		cancleDestroy(){
			this.deleteUser = null
			this.$modal.hide('destroy-modal')
		},

		clearModal(){
			this.user.name = this.user.email = this.user.password = null
		}
	},

	mounted(){
		this.load()		
	}
}
</script>

<style>
	.add{
		margin-bottom: 2rem;
		margin-right: 15px;
	}
</style>
